<!-- HEADER -->
<header id="biography">

    <!-- NAV -->
    {{> navigation }}
    <!-- NAV -->

    <!-- MAIN -->
    <main>
        <div class="main-fondo">
        </div>
            <div class="container">
            <div class="main-texto">
                <img src="../img/darwinperfil.jpg">
                <h1>Darwin Benites</h1>
                <h2>Entrenador</h2>
            </div>
        </div>
    </main>
    <!-- MAIN -->

</header>
<!-- HEADER -->

<!--Cartas biografia-->
<section class="box">
<div class="cards-bio bio1">
    <div class="content">
        <p>
            Nací hace 37 años en la ciudad más calurosa de Venezuela, la reina de los relámpagos y cuna de la gaita, en la tierra del sol amada, mi hermosa Maracaibo.  Estudie primaria y bachillerato en Colombia y a los 17 años regreso a Maracaibo para iniciar mi etapa universitaria en la Licenciatura en Educación Física, Deportes y Recreación; al mismo tiempo trabajé en una tienda de suplementos, dónde aprendí todo lo referente a este tema.
        </p>
    </div>
    <div class="img img1">
    </div>
</div>
<div class="cards-bio bio2">
    <div class="content">
        <p>
            En 2011 al terminar la carrera, comencé a ejercerla en el liceo Los Próceres, dónde trabajé como profesor en educación física durante 7 años. 

            Siempre pensando en avanzar y crecer profesionalmente, cursé en 2012 un diplomado de Paramédico en la facultad de medicina de la Universidad del Zulia.
        </p>
    </div>
    <div class="img img2">
    </div>
</div>
<div class="cards-bio bio3">
    <div class="content">
        <p>
            Como Personal Trainer me faculté con la FIEP y ese mismo año culminé un curso de entrenamiento funcional. Llegué a Chile en el 2018 y comencé a trabajar en el centro de entrenamiento VENFIT que me abrió las puertas durante 2 años y luego de tanto esfuerzo, estudio, trabajo y dedicación, comencé mi propio emprendimiento en 2021, el centro de entrenamiento DARFIT, en el cuál, podrás lograr tus objetivos de la mano de expertos y profesionales en el área, con los mejores planes, entrenamientos e información nutricional que necesitas.
        </p>
    </div>
    <div class="img img3">
    </div>
</div>
</section>
<!--Cartas biografia-->

<!-- FOOTER -->
{{> footer }}
<!-- FOOTER -->

<script src="/js/menu.js"></script>
<script src="/js/scroll.js"></script>