<!-- HEADER -->
<header id="contact">
    <!-- NAV -->
    {{> navigation }}
    <!-- NAV -->

    <!-- MAIN -->
    <main>
        <div class="main-fondo">
            <!--Caja de Contacto-->
            <div class="whitebox">
                <h1 class="titulo">Contáctame</h1>
                <div class="grid">
                    <div class="content insta">
                        <div class="card-insta">
                            <div class="card">
                                <img src="../img/insta.svg">
                                <h2>Instagram <br>@darfit05</h2>
                            </div>
                            <a class="button-insta" href="https://www.instagram.com/darfit05/">Instagram</a>
                        </div>
                        <div class="img-insta">
                            <img src="../img/phone/img1v1.png">
                        </div>
                    </div>
                    <div class="content whats">
                        <div class="img-whats">
                            <img id="img-whats" src="../img/phone/img2v1.png">
                        </div>
                        <div class="card-whats">
                            <div class="card">
                                <img src="../img/whats.svg">
                                <h2>Whatsapp <br>+56 9 924 83405</h2>
                            </div>
                            <a class="button-whats" href="https://bit.ly/3wgFUbi">Whatsapp</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Caja de Contacto-->
        </div>
    </main>
    <!-- MAIN -->

</header>

<!-- FOOTER -->
{{> footer }}
<!-- FOOTER -->

<script src="/js/menu.js"></script>
<script src="/js/scroll.js"></script>
<script src="/js/app-contact.js"></script>
