<!-- HEADER -->
<header id="plans">
    <!-- NAV -->
    {{> navigation }}
    <!-- NAV -->

    <!-- MAIN -->
    <main>
        <div class="main-fondo">
            <!--Caja de Planes-->
            <div class="whitebox">
                <h1 class="titulo">Planes</h1>
                <div class="grid">
                    <div class="content-intro">
                        <p>
                            Si tu propósito es subir <i>masa muscular</i> es importante que seas consciente de la importancia del binomio ejercicio <i>físico + dieta</i>. La correcta combinación entre un buen plan de entrenamiento y unas adecuadas <i>pautas dietéticas</i>, harán que obtengas tus mejores resultados y aumentes tu rendimiento al máximo.
                        </p>
                        <h3 class="preguntas">¿Necesitas una dieta personalizada?</h3>
                        <h3 class="preguntas">¿Cómo debe ser tu alimentación para aumentar tu masa muscular?</h3>
                        <h3 class="preguntas">¿Es necesaria la suplementación para subir masa muscular?</h3>
                        <h3>Descúbrelo aquí en Diet Darfit.</h3>
                    </div>
                    <div class="content-plan">
                        <h2>Tomo 1 <br><i>SEMANA 1 - SEMANA 2 - SEMANA 3</i></h2>
                        <p>
                            De poco nos servirá suplementarnos si de base no seguimos una correcta planificación alimentaria. El primer paso siempre debe ser corregir nuestros hábitos y conseguir los mejores resultados a partir de una correcta alimentación. Una vez hayamos interiorizado cómo debería ser nuestra nutrición, entonces podremos valorar si en nuestro caso sería necesario suplementarnos.
                        </p>
                        <a href="https://wa.me/56992483405?text=Quiero+saber+m%C3%A1s+sobre+las+dietas+personalizadas+Diet+Darfit" class="button">Diet Darft</a>
                    </div>
                    <div class="img-libro">
                        <img src="../img/libro.png">
                    </div>
                </div>
            </div>
            <!--Caja de Planes-->
        </div>
    </main>
    <!-- MAIN -->

</header>

<!-- FOOTER -->
{{> footer }}
<!-- FOOTER -->
<script src="/js/menu.js"></script>
<script src="/js/scroll.js"></script>