/* COLORES */
/* FUENTES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px; }

.container {
  max-width: 1000px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px; }

section {
  width: 100%; 
}
a {
  text-decoration: none; }

ul, ol, li {
  list-style: none; }

img {
  width: 100%;
  height: 100%;
}

/*Estilos NavBar*/
nav {
  transition: all ease-in-out 1s;
  background: rgba(0, 0, 0, 0);
  padding: 10px 20px;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10; }
  nav .logo {
    width: 100px; }
  nav ul {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path .8s ease-out;
    z-index: 50; }
    nav ul .opciones {
      background: #212F3C;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 80; }
      nav ul .opciones li {
        width: 180px;
        margin: 20px 0; }
        nav ul .opciones li a {
          color: #fff;
          padding: 10px 30px;
          border-bottom: 2px solid transparent;
          transition: all ease-in .8s; }
          nav ul .opciones li a:hover {
            border-bottom: 2px solid #fdc319;
            color: #f1f1f1; }


/*Estilos Menu*/
  nav .menu {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 20;
    cursor: pointer; }
    nav .menu span {
      width: 100%;
      height: 4px;
      border-radius: 4px;
      display: block;
      position: absolute;
      background: #fff;
      transform-origin: 0px 100%; }
    nav .menu span:nth-child(2) {
      top: calc(50% - 2px); }
    nav .menu span:nth-child(3) {
      bottom: 0; }

/*Estilos Animación Menú*/
.animacionMenu span:nth-child(1) {
  transform: rotate(45deg) translate(-2px, 1px); }

.animacionMenu span:nth-child(2) {
  opacity: 0; }

.animacionMenu span:nth-child(3) {
  transform: rotate(-45deg) translate(-3px, 3px); }

.activeMenu {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  background: #212F3C; }


/*Estilos Estilos NavBar 768px*/
@media screen and (min-width: 768px) {
  nav ul {
    position: initial;
    clip-path: none; }
    nav ul .opciones {
      background: rgba(0, 0, 0, 0);
      flex-direction: row;
      justify-content: flex-end; }
      nav ul .opciones li {
        margin: 0 10px;
        width: auto; }
        nav ul .opciones li a {
          margin: 0;
          padding: 0; }
  nav .menu {
    display: none; } }

/*Estilos Estilos NavBar 1024px*/
@media screen and (min-width: 1024px) {
  nav {
    height: 70px; }
    nav ul .opciones li {
      width: 120px; }
      nav ul .opciones li a {
        font-weight: bold;
        letter-spacing: 1.2px;
        padding: 2px 10px; }
    nav .menu {
      display: none; } }

/*Estilos The Hero*/
main {
  overflow: hidden;
}
  main .main-fondo{
    width: 100%;
    background-image: linear-gradient(to top, rgba(7, 50, 74, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%), url("../img/main.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60vh;
    padding-bottom: 10vh;
  }

/*Caja de Contacto*/
.whitebox {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0,0,0,.3);
  padding: 1rem 2rem 2rem;
  background-color: #fff;
}
  .whitebox .titulo {
    width: 80%;
    background: #009939;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,.3);
    text-align: center;
    color: #fff;
    transform: translateY(-40px);
    padding: 0.5em;
  }
    .grid {
      font-size: 1.4em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:  "Intro    Intro    Intro"
                            "Descrip  Descrip  Img";
      grid-gap: 0.5em;
    }
      .content-intro{
        grid-column: Intro;
        text-align: justify;
      }
        .content-intro h3 {
          margin: 1em 0;
        }
        .content-intro i {
          font-style: normal;
          font-weight: bold;
        }
        .content-intro .preguntas {
          font-size: .9em;
          margin: 1em 0;
          margin-left: 3em;
        }
      .content-plan {
        grid-column: Descrip;
        text-align: justify;        
      }
        .content-plan h2 {
          margin: 1em 0;
        }
          .content-plan h2 i{
            font-size: .7em;
            opacity: .15;
          }
      .img-libro {
        padding: 1em;
        grid-area: Img;
        width: 100%;
        justify-self: stretch;
      }
      .button {
        margin-top: 1em;
        display: inline-block;
        border-radius: 30px;
        background: #fdc319;
        color: #fff;  
        padding: 0.8em;
        transition: all 300ms;
        border: 0;
      }
        .button:hover {
          background: #dda502;
          cursor: pointer;
        }
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas: "Intro"
                         "Img"
                         "Descrip";
  }
  .content-intro {
    text-align: left;
  }
    .content-intro .preguntas {
      margin: 1em 0;
      margin-left: 0em;
      text-align: center;
    }
  .content-plan {
    text-align: left;
  }
}
    
/*---------LEER---------*/
@keyframes agrandar {
  from {
    opacity: 0;
    transform: scale(0); }
  70% {
    transform: scale(1.4); }
  90% {
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(0.5); } }

footer {
  background: #242424;
  color: #f1f1f1;
  border-top: 4px solid #e47312; }
  footer p {
    padding: 10px 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    letter-spacing: 1.1px; }
    footer p span {
      font-weight: 600;
      letter-spacing: 1.5px; }
      footer p span span {
        letter-spacing: 1.3px; }
/*---------LEER---------*/



/* TEXT COLORS */
.text-danger {
  color: #a13333; }

.text-warning {
  color: #f08528; }

.text-success {
  color: #498b12; }

.text-info {
  color: #1da1f2; }

.text-primary {
  color: #235f91; }

.text-light {
  color: #f1f1f1; }

/* TEXT COLORS */
/* TEXTOS */
.text-uppercase {
  text-transform: uppercase; }

/* TEXTOS */
/* PADDING */
.pd {
  padding: 10px; }

.pt-1 {
  padding-top: 10px; }

.pt-2 {
  padding-top: 14px; }

.pt-3 {
  padding-top: 18px; }

.pt-4 {
  padding-top: 20px; }

/* PADDING */
/* MARGIN */
.mg {
  margin: 10px; }

.mt-0 {
  margin-top: 8px; }

.mt-1 {
  margin-top: 10px; }

.mt-2 {
  margin-top: 14px; }

.mt-3 {
  margin-top: 18px; }

.mt-4 {
  margin-top: 20px; }

/* MARGIN */
/* ALINEACION TEXTO */
.ta-center {
  text-align: center; }

/* ALINEACION TEXTO */
/* BARRAS */
.bar {
  width: 100%;
  height: 15px;
  background-color: #e5d8bf;
  border-radius: 4px; }

.bar-100 {
  width: 100%;
  height: 100%; }

.bar-90 {
  width: 90%;
  height: 100%; }

.bar-95 {
  width: 95%;
  height: 100%; }

.bar-80 {
  width: 80%;
  height: 100%; }

.bar-85 {
  width: 85%;
  height: 100%; }

.bar-70 {
  width: 70%;
  height: 100%; }

.bar-75 {
  width: 75%;
  height: 100%; }

.bar-bg-danger {
  background-color: #a13333; }

.bar-bg-warning {
  background-color: #f08528; }

.bar-bg-success {
  background-color: #498b12; }

.bar-bg-primary {
  background-color: #235f91; }

/*Scroll JS Barras*/
.scroll-up {
  transform: none;
  background: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.scroll-down {
  transform: translate3d(0, -100%, 0)
}
