<nav id="nav">
    <div class="logo">
        <img src="img/logo.png" alt="Logo Darfit">
    </div>
    <ul id="options">
        <div class="opciones">
            <li>
                <a href="/" class="text-uppercase">Inicio</a>
            </li>
            <li>
                <a href="/plans" class="text-uppercase">Planes</a>
            </li>
            <li>
                <a href="/biography" class="text-uppercase">Sobre Mí</a>
            </li>
            <li>
                <a href="/contact" class="text-uppercase">Contacto</a>
            </li>
        </div>
    </ul>
    <div class="menu" id="menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>