<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ayudamos a cumplir tus metas #Constancia">
    <meta name="copyright" content="Copyright Darfit">
    <meta name="robots" content="index">

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-png">

    <title>DARFIT</title>

    <link rel="stylesheet" href="/css/fontawesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/slide.css">
    <link rel="stylesheet" href="/css/biography.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/plans.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.comcss2?family=Raleway&display=swap" rel="stylesheet">
</head>

{{{ body }}}

<!--jQuery-->
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<script src="/js/style.js"></script>
</html>