<!-- MAIN -->
<main id="panel">
    <div class="main-fondo">
        <!--Caja de Contacto-->
        <div class="whitebox">
            <div class="grid">
                <div class="content-input">
                    <h2>Generar nuevo Horario</h2>
                    <form action="panel/new-note" method="POST">
                        <label class="input" for="title">Introduzca los días</label>
                        <input
                            class="main__input"
                            type="text"
                            name="title"
                            placeholder="Días"
                        >

                        <label for="description" class="input">Introduzca las horas</label>
                        <textarea class="main__textarea" name="description" placeholder="Horas"></textarea>
                        <input type="submit" value="Ingresar" class="main__input main__input--send">
                    </form>
                </div>
                <div class="content-note">
                    {{#each notes}}
                    <div class="box">
                        <div class="section-text">
                            <h3>{{ title }}</h3>
                            <p>{{ description }}</p>
                        </div>
                        <div class="section-btn">
                            <form action="/panel/delete/{{_id}}?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn">X</button>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <!--Caja de Contacto-->
    </div>
</main>
<!-- MAIN -->